.about{
    padding:80px 0px;
    color:#ababab;
    width: 80%;
    margin: auto;
}
.content{

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 10%;
}
.about-col-2{
    /* background-color: orange; */
    flex-basis: 60%;
}

.about-col-2-text{
    margin-top: 2rem;
    /* font:bold; */
    color:rgb(29, 28, 28);
    margin-bottom: 2rem;
}
.reference{
    display: flex;
    gap:3rem;
    margin-top: 8px;
    cursor: pointer;
    color: rgb(226, 162, 43);

}
.skill{
    margin: 1rem 0;
    color:  rgb(226, 162, 43);
    font-weight: 700;
}
.active{
    /* border: 1px solid greenyellow; */
    text-decoration: underline;
    /* padding: 0 0.5rem 0.2rem 0.5rem; */
    border-radius: 8px;
}
.details{
    margin-top: 2rem;
    color: rgb(18, 110, 75);
    
}
.education{
    display: flex;
    gap:2rem;
}
.educate{
    margin-bottom: 1rem;
}