.footer {
  background-color:rgb(54, 54, 54);
  color: white;
  text-align: center;
  padding-top: 1rem;
  margin-top: 2rem;
}

.title{
  font-size: 1.2rem;
}
.footer-links {
  margin-top: 1rem;
  color: rgb(95, 172, 95);
  
}

.refs {
  margin: 0.8rem;
}

.signature {
  padding: 1rem;
  text-align: end;
  color: rgb(238, 98, 47);
  margin-right: 2rem;
  cursor: pointer;
}
