.banner{
    height: 60vh;
    width: 80%;
    margin: auto;
    background-size: contain;
    background: url('/port.jpg') no-repeat;
    margin-top: 2rem;
    background-position: center;
    position: relative;
    /* background-color: red;  */
}
.banner-text{
    position: absolute;
    margin-top: 15rem;
    margin-left: 15rem;
    font-size: 20px;
}
