.banner{
    height: 80vh;
    width: 80%;
    margin: auto;
    background-size: contain;
    background: url('Photos/frontend3.jfif') no-repeat;
    margin-top: 2rem;
    background-position: center;
    position: relative;
    /* background-color: red;  */
}
.banner-text{
    position: absolute;
    bottom:1rem;
    left: 42%;
    font-size: 20px;
    color: rgb(33, 158, 98);
    /* background-color: red; */
}
